<div class="login-header">
    <p>Please Login with your username and password!</p>
</div>

<div class="login-form">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <p>
            <label>Username:</label>
            <input type="text" name="username" ngModel required #username="ngModel" placeholder="ex. emugaya">
        </p>
        <p>
            <label>Password:</label>
            <input type="password" name="password" ngModel required #password="ngModel" placeholder="password">
        </p>
        <div>
            <button>Login </button>
        </div>
    </form>
    <div class="alert alert-danger" *ngIf="message">
        <strong>{{message}}. Please try again.</strong>
    </div>
    <p>If you don't have an account click <a href="/register">Here </a>to register.</p>
</div>