.login-header {
    height: 40px;
    background-color: #eee;
    text-align: center;
}

.login-header p {
    line-height: 40px;
    font-size: normal;
    color: black;
}

.login-form {
    text-align: center;
}

input[type="text"] {
    border: 2px #cccccc solid;
    border-radius: 10px;
}

input[type="password"] {
    border: 2px #cccccc solid;
    border-radius: 10px;
}

.loginbutton {
    height: 40px;
    padding: 20px 20px 20px 20px;
    border-top: 10px;
    text-align: center;
}