.homebuttons {
    height: 40px;
    padding: 20px 20px 20px 20px;
    border-top: 10px;
    text-align: center;
    width: 30px;
}

button {
    /* background-color: #3b5998; */
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
}

button:hover {
    background-color: #cfd8dc;
}

.welcome {
    height: 40px;
    text-align: center;
    /*background-color: #eee;*/
}

.welcome h3 {
    font-size: 22px;
    line-height: 40px;
    font-weight: normal;
}