<div style="text-align:center">
    <div class="welcome">
        <div class="row min-welcome">
            <div class="col-md-6 wlcm-message">
                <h1>Bucketlists service makes it easy for you to Plan, and Track things you would like to do...</h1>
                <p></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum tortor id eleifend suscipit. Vestibulum dictum justo vitae ullamcorper maximus. Fusce faucibus blandit ligula vitae ornare. Ut fringilla volutpat suscipit. </p>

            </div>
            <div class="col-md-6 wlcm-image"> <img width="600" src="./assets/bucketlist_image.jpg"></div>
        </div>

    </div>