<div class="registration_area">

    <div class="register-header">
        <p>Please Register Here to use this service</p>
    </div>

    <div class="register-form">
        <div class="alert alert-danger" *ngIf="message">
            <strong>{{message}}. Please try again.</strong>
        </div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
            <p>
                <label>Username:</label>
                <input type="text" name="username" ngModel required #username="ngModel" placeholder="ex. emugaya">
            </p>
            <p>
                <label>Password:</label>
                <input type="password" name="password" ngModel required #password="ngModel" placeholder="password">
            </p>
            <button class="btn btn-primary">Create Account</button>

        </form>
        <p></p>
        <p id="login_msg">Click <a href="/login">Here </a>to login if you already have an account</p>
    </div>
</div>